<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab7c62">  <td>19/06/26 11:59:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@c0a365]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>19/06/26 11:59:12</td>   <td>9298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@c0a365]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>19/06/26 11:58:47</td>   <td>-15083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@c0a365]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>19/06/26 11:59:02</td>   <td>162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@c0a365]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/06/26 11:59:01</td>   <td>-1724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout([Ljava.lang.String;)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@c0a365]">loginAndLogout</td> 
  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/06/26 11:59:10</td>   <td>7684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout([Ljava.lang.String;)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@c0a365]">loginAndLogout</td> 
  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>19/06/26 11:58:47</td>   <td>-15645</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@c0a365]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/06/26 11:58:47</td>   <td>-15645</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@c0a365]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>19/06/26 11:58:46</td>   <td>-15786</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@c0a365]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>19/06/26 11:59:12</td>   <td>9472</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@c0a365]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
</table>
