<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2a371">  <td>19/06/26 11:46:28</td>   <td>0</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/06/26 11:46:29</td>   <td>609</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>19/06/26 11:46:29</td>   <td>609</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/06/26 11:46:29</td>   <td>765</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>19/06/26 11:46:30</td>   <td>2060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/06/26 11:46:47</td>   <td>18565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">loginAndLogout</td> 
  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>19/06/26 11:46:49</td>   <td>21324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>19/06/26 11:46:50</td>   <td>22333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/06/26 11:46:59</td>   <td>31280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">loginAndLogout</td> 
  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>19/06/26 11:47:01</td>   <td>33433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>19/06/26 11:47:02</td>   <td>33564</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/06/26 11:47:02</td>   <td>33782</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@7740a2]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
</table>
